:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --ff-primary: "Catamaran", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(197, 197, 210); */
  font-family: 'Courier New', Courier, monospace;
}




.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);

}

.header {
  background-color: #617d98;
  width: 100vw;
  height: 400px;

}

.header__big-text {
  padding: 50px 50px 0;
  color: azure;

}

.header__small-text {
  color: beige;
  padding: 20px 70px;

}
.btn--header{
position:absolute;
right: 100px;
top: 300px;

}

main{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  margin: 20px;
  display: flex;
}

.menu__item--list {
  border: solid 1px #617d98;
  display: flex;
  margin: 0 20px;
  padding: 10px;
  width: 60%;
  list-style-type: none;

}

.menu__company--name {
  padding: 10px;
}

.menu__link {
  text-decoration: none;
  padding: 0 20px;
}

.menu__img--logo {
  padding: 10px;
}

.article {
  padding: 10px 50px 100px;

}

.article__title {
  padding: 10px;

}

.article__date {
  padding: 10px;
}

.article__text {
  padding: 10px;
}

.article__subtitle {
  padding: 10px;
}

.btn--article{
  margin: 20px 0 0 70%;

}

.search {
  /* position: relative; */
  margin: 80px 0 80px 800px;
  /* margin-left: 70vw; */
  
}

.footer__adress--text {
  padding: 0 0 0 20px;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0px;
  border: solid 0.5px #6c88a2;
  background-color: #617d98;
  color: #f1f5f8;

}